<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div>
    {% if user.is_authenticated %}
        <div>Hello, {{ user.username }}.{% if not user.is_superuser %} You have {{ user.wallet }}$ on your balance. {% endif %}</div>
        {% if user.is_superuser %}
            <a href="{% url 'index' %}">Items list</a>
            <a href="{% url 'add_product' %}">Add product</a>
            <a href="{% url 'refunds' %}">Refunds</a>
        {% else %}
            <a href="{% url 'index' %}">Store</a>
            <a href="{% url 'my_orders' %}">My orders</a>
        {% endif %}


        <form action="{% url 'logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form>
    {% else %}
        <a href="{% url 'login' %}">Login</a>
        <a href="{% url 'register' %}">Register</a>
    {% endif %}
</div>

{% include 'helpers/messages.html' %}

{% block content %}{% endblock %}

<div>Footer</div>
</body>
</html>